/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  padding: 40px 40px 40px 140px;
  font-family: Work Sans, sans-serif;
}

header {
  padding-bottom: 40px;
}

h1 {
  font-family: Work Sans, sans-serif;
  font-size: 38px;
}

h2 {
  font-family: Work Sans, sans-serif;
  font-size: 28px;
  padding: 20px 20px;
}

p {
  font-family: Work Sans, sans-serif;
  font-size: 18px;
}
.colors,
.fonts,
.text-styles {
  border: 2px solid lightgray;
  padding-bottom: 50px;
}

.fonts,
.text-styles {
  margin-top: 40px;
}
.color-panel-maize {
  width: 300px;
  height: 80px;
  background-color: #e8c547;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  padding-bottom: 20px;
}

.color-panel-jet {
  width: 300px;
  height: 80px;
  background-color: #30323d;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  color: white;
  padding-bottom: 20px;
}

.color-panel-independence {
  width: 300px;
  height: 80px;
  background-color: #4d5061;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  color: white;
  padding-bottom: 20px;
}

.color-panel-glaucous {
  width: 300px;
  height: 80px;
  background-color: #5c80bc;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  color: white;
  padding-bottom: 20px;
}

.font-panel,
.text-panel {
  padding: 0px 20px 10px;
}

.work-sans,
.work-sans-regular,
.work-sans-italic,
.work-sans-bold {
  font-family: Work Sans, serif;
}

.work-italic {
  font-style: italic;
}

.work-bold {
  font-weight: bold;
}

.source-code,
.source-regular,
.source-italic,
.source-bold {
  font-family: Source Code Pro, sans-serif;
}

.source-italic {
  font-style: italic;
}

.source-bold {
  font-weight: bold;
}
